*{
    box-sizing: border-box;
    margin: 0 ;
    /* border: 1px solid red; */
    
}
.titulo{
    text-align: center;
    color: red;
}
#contenedor-servicios{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicios{
    width: 30%;
    text-align: center;
}
.servicios img{
    width: 30%;
    text-align: center;
    
}
@media(max-width:600px){
    .servicios{
        width: auto;
    }
    #contenedor-servicios{
        display: block;
        flex-wrap: nowrap;
    }
}
@media(min-width:601px) and (max-width:800px){
    .servicios{
        width: 40%;
    }
}