@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Old+Standard+TT&family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;

}
nav{
    background-color: royalblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family:'Kaushan Script', cursive;
}
nav a:hover{
    color: yellow;
    font-weight: bold;
}
header{
    background-image: url("../images/informatica.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header h1{
    color: white;
}
header h2{
    color: orange;
}
section{
    padding: 20px;
    justify-content: space-around;
}
#quehacemos{
    display: flex;
    justify-content: space-around;
    background-color: darkgoldenrod;
}
#textoquehacemos{
    width: 35%;
}
#imagenquehacemos{
    width: 35%;
    border: 2px solid red;
}

#tituloscabecera{
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-family: 'Old Standard TT', serif;
}
.titulo{
    font-family:'Roboto', sans-serif ;
    font-size: 2em;
    color: aqua;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}
#nuestros-servicio{
    display: flex;
    justify-content:space-around;
}
#mapa{
    width: 40px;

}
#direccion{
    width: 40%;
}
#contenedor-nuestros-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}
#textoquehacemos p{
    text-align: justify;
}
.servicio{
    text-align: center;
    /* border: 2px solid red; */
    box-shadow: 3px 3px 3px black;
    width: 28%;
    margin-bottom: 30px;
    border-radius: 5%;

}
.servicio :hover{
    opacity: 0.5;
}
.servicio p{
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.servicio img{
    width: 40%;
}
#dondeestamos{
    background-color: antiquewhite;
}
#nuestrosservicios{
    background-color: yellow;
}
footer{
    background-color: grey;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}
footer div{
    padding:10px;
    /* border: 2px solid red; */
}
footer #columna{
    width: 30%;
}
footer #copyright{
    width: 100%;
    text-align: center;
    border-top: 2px solid white;

}
footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
footer a{
    color: white;
    text-decoration: none;
}
#compromiso-medio-ambiente{
    background-color: greenyellow;
}
#contenedor-medio-ambiente{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#contenedor-medio-ambiente article{
    padding: 10px;
    width: 50%;
    text-align: center;

}
#contenedor-medio-ambiente article p{
    text-align: justify;
}
#contenedor-medio-ambiente img{
    width: 70%;
    padding: 40px;

}
#nuestras-oficinas{
    background-color: rgb(0, 255, 85);
}
#contenedor-oficinas{
    display: flex;
    justify-content: space-around;
}
#contenedor-oficinas article{
    text-align: center;
}
#contenedor-oficinas article img{
    width: 50%;
}
.titulo-oficina{
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    text-shadow: 2 px 2px 2px black;
}
